@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

*{
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 24px;
    box-sizing: border-box;

}

.header{
    box-shadow: inset 0px -1px 0px rgba(66, 66, 66, 0.4);
}
.container {
    max-width: 1310px;
    margin: 0 auto;
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-serch {
}
.header-list {
    display: flex;
}

.list-item + .list-item{
    margin-left:62px;
}
.list-item:nth-child(2){
    margin-left: 40px;
}
.list-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px 0 25px 0;
}

.list-item__link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 77px;
    right: -70px;
    width: 229px;
    border: 1px solid rgba(66, 66, 66, 0.4);
    border-radius: 4px;
    font-weight:600;
}
.list-item:hover .list-item__link{
    display: flex;
}

.item-link {
    padding: 0 24px 0;
    padding-top: 16px ;
}
.item-link:first-child {
    padding-top: 32px;
}
.item-link:last-child {
    padding-bottom: 32px;
}
span{
    font-size: 24px;
}
.input{
    border-radius: 21px;
    background: #C4C4C4;
    height: 40px;
    width: 193px;
}
.section{
    display: flex;

    align-items: center;
    height: 100vh;

}   
.main-text{
    font-size: 80px;
    font-weight: 800;
    transition: all 0.5s;
}