*{
    color: #ffffff;
    font-family: sans-serif;
}
.menu{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
}
.item + .item{
    padding-left: 10px;    
}
.item{
    z-index: 5;
    cursor: pointer;
}
.item:hover .item2{
    display: block;
    transition: all 0.5s;

}
.item > .item2{
    transform:translateY(-300px);
    transition: all 0.4s;
}
.item:hover > .item2{
    transform:translateY(0px);
    z-index: 1;
}
.container{
    background-color: black;
}